asgiref==3.12.1
Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
greenlet==3.5.4
numpy==2.5.1
pandas==3.0.5
PyJWT==2.13.0
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
SQLAlchemy==2.0.51
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
